{% extends 'catalogue/base.html' %}
{% block title %}Opus Detail: {{ opus.opus_title }}{% endblock %}
{% block content %}
<div class="columns is-centered">
	<div class="column has-text-centered">
		<img src='{{ opus.opus_image.url }}' alt="image of {{ opus.opus_title }}"></img>
	</div>
</div>
<div class="columns is-centered">
	<div class="columns is-6 box">
		<div class="column" style="display: flex;">
		<div>
			<table class="table">
				<tbody>
					<tr>
						<td>「{{ opus.opus_title }}」</td>
					</tr>
					<tr>
						<td>F4・水彩</td>
					</tr>
					<tr>
						<td>10万円（売約済み）</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="display: flex; align-items: center;">
			<p style="margin-left: 1em;">{{ opus.opus_description }}</p>
		</div>
		</div>
	</div>
</div>
{% endblock %}
